$colors: (30, 60, 90, 120, 150, 180, 210, 240, 270, 15, 45, 75, 105, 135, 165, 195, 225, 255);

$i: 0;
@each $color in $colors {
  .marked.type_#{$i} {
    --hue: #{$color};
  }
  $i: $i + 1;
}

.marked {
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 50%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 80%))
  );
  color: #181818;
  cursor: pointer;
  margin-bottom: 2px;

  &.approved, &.new {
    --lightness-offset: -30%;
    box-shadow: 1px 1px 0 var(--color-success);
  }

  &.edited {
    --lightness-offset: -30%;
    box-shadow: 1px 1px 0 var(--color-accent);
  }

  &.deleted {
    --saturation: 0%;
    --lightness: 80%;
    box-shadow: 1px 1px 0 var(--color-error);

    .dark-mode & {
      --lightness: 40%;
    }
  }

  &.hover {
    --lightness-offset: -15%;
  }
  &.type_undefined {
    --lightness: 100%;
    --lightness-offset: 0%;
  }
}


.approved, .new, .edited {
  background-color: rgba(0, 255, 0, 0.25);
}

.deleted {
  background-color: rgba(255, 0, 0, 0.25);
}

.selected {
  background-color: rgba(122,122,122,.25);
}
